@use "../../styles/colors" as *;

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.textLeft {
  flex-basis: 40%;
  margin-left: 8rem;
}

.cta {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.buttonPrimary {
  background: $color-orange;
  color: white;
  padding: 1.2rem 1.4rem;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background 300ms ease-in-out;

  &:hover {
    background: $color-orange-light;
  }
}

.orderIcon {
  width: 1.3rem;
  height: 1.3rem;
}

.buttonSecondary {
  background: $color-lighter-gray;
  color: $color-dark-gray;
  padding: 1.2rem 1.4rem;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background 300ms ease-in-out;

  &:hover {
    background: $color-light-gray;
  }
}

.title {
  font-size: 3.8rem;
  line-height: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.titleTop {
  color: $color-orange;
}

.titleBottom {
  font-weight: 400;
}

.text {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.contentRight {
  width: 50vw;
  height: 110vh;
  position: relative;
  right: 0;
  top: 0;
  overflow: hidden;
}

.imageRightWrapper {
  position: absolute;
  top: 9rem;
  left: 5rem;
  z-index: 1;
}

.countertop {
  height: 115vh;
  width: 115vh;
  position: absolute;
  background-image: url(/images/countertop2.jpg);
  left: 14vw;
  bottom: 0;
  border-radius: 50%;
  z-index: -1;
}

.bannerImage {
  object-fit: cover;
}

.leaf {
  position: absolute;
  right: 8rem;
  bottom: 14rem;
  z-index: 0;
}

.tomatoOne {
  position: absolute;
  right: 7rem;
  top: 16rem;
  z-index: 0;
}

.tomatoTwo {
  position: absolute;
  right: 9rem;
  top: 21rem;
  z-index: 0;
}
